<ion-header>
  <!-- Title needs more margin and to be inline with the button on android-->
  <ion-title class="ion-align-items-center">New Bet</ion-title>
  <ion-button fill="clear" (click)="cancel()">Cancel</ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar *ngIf="user">
        <img [src]="user.photoURL" />
      </ion-avatar>
    </ion-card-header>
    <ion-card-content *ngIf="!user">
      <p>You have to be logged in in order to participate in a bet</p>
    </ion-card-content>
    <ion-card-content *ngIf="user">
      <h1>You're betting on:</h1>
      <ion-button>{{betChoice}}</ion-button>
      <ion-input [(ngModel)]="betAmountString" placeholder="Enter amount   "
        >AMOUNT
      </ion-input>
      <ion-button (click)="onConfirmBet()">Confrim</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
