<ion-content>
  <ion-button (click)="popup()">Add new bet</ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>

  <ion-list *ngFor="let bet of betService.data | async">
    {{bet.description}}
    <!-- Will add more info here in the future -->
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      <p *ngIf="betService.done | async">These are all the bets!</p>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
