.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}
h3 {
  text-align: center;
}

ion-card-content {
  text-align: center;
}

.description {
  padding-bottom: 1.5em;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-card {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
