<app-header></app-header>
<ion-content *ngIf="user">
  <ion-segment (ionChange)="segmentChanged()" value="participating">
    <ion-segment-button value="participating">
      <ion-label>Participated</ion-label>
    </ion-segment-button>
    <ion-segment-button value="created">
      <ion-label>Created</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="inParticipatingSegment">
    <div class="center" *ngIf="!userActiveBets">
      <h3>You're currently not participating in any bets</h3>
      <ion-button (click)="navigateToMainFeed()">Find bets</ion-button>
    </div>
    <div *ngFor="let preparedBet of preparedBets">
      <ion-card *ngIf="preparedBet.bet.settled">
        <ion-card-header>
          <ion-chip>
            <ion-avatar>
              <img [src]="preparedBet.bet.creatorProfilePicURL" />
            </ion-avatar>
            <ion-label>{{preparedBet.bet.creator}}</ion-label>
          </ion-chip>
          <p>{{preparedBet.bet.createdAt.toDate() | date:'short' }}</p>
        </ion-card-header>
        <ion-card-content>
          {{preparedBet.bet.description}}
          <br />
          <br />
          <!-- bet status component passing in amount, choiceName and winning option -->
          <app-bet-status
            [bet]="preparedBet"
            [winningOption]="preparedBet.bet.winningOption"
            [displayOption]="'amountChoiceAndOutcome'"
          ></app-bet-status>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="!inParticipatingSegment && user">
    <div class="center" *ngIf="betsCreatedByUser.length === 0">
      <h3>There are no active bets you've created</h3>
      <ion-button (click)="navigateToMainFeed()">Go create some</ion-button>
    </div>
    <div *ngIf="betsCreatedByUser">
      <div *ngFor="let bet of betsCreatedByUser">
        <ion-card *ngIf="bet.settled">
          <ion-card-header>
            <ion-chip>
              <ion-avatar>
                <img [src]="bet.creatorProfilePicURL" />
              </ion-avatar>
              <ion-label>{{bet.creator}}</ion-label>
            </ion-chip>
            <p>{{bet.createdAt.toDate() | date:'short' }}</p>
          </ion-card-header>
          <ion-card-content>
            <div class="description"><h3>{{bet.description}}</h3></div>
            <!-- bet status component passing the winning option -->
            <app-bet-status
              [displayOption]="'outcome'"
              [bet]="bet"
            ></app-bet-status>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="!user">
  <div class="center">
    You need to be logged in to use this feature
    <br />
    <br />
    <ion-button (click)="navigateToUserProfile()">Go to login</ion-button>
  </div>
</ion-content>
