<app-header></app-header>
<ion-content>
  <div class="center" *ngIf="auth.user$ | async as user">
    <h3>Logged in as {{ user.displayName }}</h3>
    <img [src]="user.photoURL" />
    <ion-button (click)="auth.signOut()">Log out</ion-button>
  </div>

  <div
    class="center"
    *ngIf="(auth.user$ | async) === (undefined || false || null)"
  >
    <ion-card-header
      >You need to be logged in to use this feature</ion-card-header
    >
    <ion-card-content>
      <ion-button (click)="auth.googleSignin()">Log in with Google</ion-button>
    </ion-card-content>
  </div>
</ion-content>
