<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bets-archive">
      <ion-icon name="folder-open"></ion-icon>
      <ion-label>Past Bets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bets">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Bets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
